cattbl
===========

Python modules for working in pandas with various loss data tables used for CAT modelling

In [1]:
import pandas as pd
yelt = pd.read_csv("tests/_data/example_pareto_poisson_yelt.csv")
yelt = yelt.set_index(['Year', 'EventID', 'DayOfYear'])['Loss']
yelt.attrs['n_yrs'] = 1e5
display(yelt.to_frame())

                                 Loss
Year   EventID DayOfYear
4      32132   34         1369.474539
5      12433   154        5345.585367
6      41862   207        1642.805623
10     47338   129        1129.154573
11     178     265        1162.232135
...                               ...
99985  29075   285        2564.963418
99991  25175   187        2824.029982
99998  6292    107        6118.284691
       16734   332        1741.426341
100000 10143   125        2817.633841

[50414 rows x 1 columns]

Convert to a year loss table

In [2]:
from cattbl import yeareventloss
display(yelt.yel.to_ylt().to_frame())

               Loss
Year
4       1369.474539
5       5345.585367
6       1642.805623
10      1129.154573
11      1162.232135
...             ...
99981   1276.845803
99985   2564.963418
99991   2824.029982
99998   7859.711033
100000  2817.633841

[39628 rows x 1 columns]

Display various EP curves at specified return periods

In [3]:
yelt.yel.to_ep_summaries(is_eef=True,
                         return_periods=(1000, 500, 200, 100, 50, 20, 10))

                LossPerYear  MaxEventLossPerYear      EventLoss
ReturnPeriod
1000          473147.981508        471979.243006  471979.243006
500           253810.169034        252691.285613  252691.285613
200            96827.283075         94197.225833   94197.225833
100            50158.747637         48094.599410   48143.913244
50             26731.512351         24660.717195   24852.859118
20             11385.215590         10127.881864   10372.457678
10              5601.995506          4783.383813    5053.746495